<!--
  Credits
  <hgroup>
  <h1>Material Design Form</h1>
  <h3>By Josh Adamous</h3>
</hgroup>
-->
<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" class="button buttonBlue">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <p class="center no-margin"><small> or register <a href='#' (click)="register()">here</a></small></p>
</form>

